# Exercise 6.04: Predicting Boston House Prices with Regularization

In this exercise, you will build a neural network that will predict the median house price for a suburb in Boston and see how to add regularizers to a network.

The dataset is composed of 12 different features that provide information about the suburb and a target variable (MEDV). The target variable is numeric and represents the median value of owner-occupied homes in units of \$1,000.

The following steps will help you complete the exercise:

1.- Import the pandas package as pd

In [22]:
import pandas as pd

2.- Create a `file_url` variable containing a link to the raw dataset. Use the `data/boston_house_price.csv` file.

In [23]:
url='https://raw.githubusercontent.com/applied-data-mining-master/syllabus_intelligencesystems/main/data/boston_house_price.csv'

3.- Load the dataset into a variable called `df` using `pd.read_csv()`

In [24]:
df = pd.read_csv(url)

4.- Display the first five rows using `.head()`

Output:

![Figure 6.15](img/fig6_15.jpg)

In [25]:
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7   5.33  36.2

[5 rows x 13 columns]

5.- Extract the target variable using `.pop()` and save it into a variable called `label`

In [26]:
label = df.pop('MEDV')

6.- Import the `scale` function from `sklearn.preprocessing`

In [27]:
from sklearn.preprocessing import scale

7.- Scale the DataFrame, `df`, and save the results into a variable called `scaled_features`. Print its content

```
array([[-0.41978194,  0.28482986, -1.2879095 , ..., -0.66660821,
        -1.45900038, -1.0755623 ],
       [-0.41733926, -0.48772236, -0.59338101, ..., -0.98732948,
        -0.30309415, -0.49243937],
       [-0.41734159, -0.48772236, -0.59338101, ..., -0.98732948,
        -0.30309415, -1.2087274 ],
       ...,
       [-0.41344658, -0.48772236,  0.11573841, ..., -0.80321172,
         1.17646583, -0.98304761],
       [-0.40776407, -0.48772236,  0.11573841, ..., -0.80321172,
         1.17646583, -0.86530163],
       [-0.41500016, -0.48772236,  0.11573841, ..., -0.80321172,
```

In [28]:
scaled_features = scale(df)
scaled_features

array([[-0.41978194,  0.28482986, -1.2879095 , ..., -0.66660821,
        -1.45900038, -1.0755623 ],
       [-0.41733926, -0.48772236, -0.59338101, ..., -0.98732948,
        -0.30309415, -0.49243937],
       [-0.41734159, -0.48772236, -0.59338101, ..., -0.98732948,
        -0.30309415, -1.2087274 ],
       ...,
       [-0.41344658, -0.48772236,  0.11573841, ..., -0.80321172,
         1.17646583, -0.98304761],
       [-0.40776407, -0.48772236,  0.11573841, ..., -0.80321172,
         1.17646583, -0.86530163],
       [-0.41500016, -0.48772236,  0.11573841, ..., -0.80321172,
         1.17646583, -0.66905833]])

8.- Import `train_test_split` from `sklearn.model_selection`

In [29]:
from sklearn.model_selection import train_test_split

9.- Split the data into training and testing sets and save the results into four variables called `features_train`, `features_test`, `label_train`, and `label_test`. Use 10% of the data for testing and specify `random_state=8`

In [30]:
features_train, features_test, label_train, label_test = train_test_split(scaled_features, label, test_size=0.1, random_state=8)

10.- Import `numpy` as np, `tensorflow` as tf, and `layers` from `tensorflow.keras`

In [31]:
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers

11.- Set 8 as the seed for NumPy and TensorFlow using `np.random_seed()` and `tf.random.set_seed()`

In [32]:
np.random.seed(8)
tf.random.set_seed(8)

12.- Instantantiate a `tf.keras.Sequential()` class and save it into a variable called `model`

In [33]:
model = tf.keras.Sequential()

13.- Next, create a combined `l1` and `l2` regularizer using `tf.keras.regularizers.l1_l2` with `l1=0.01` and `l2=0.01`. Save it into a variable called `regularizer`

In [34]:
regularizer = tf.keras.regularizers.l1_l2(l1=0.1, l2=0.01)

14.- Instantantiate a `layers.Dense()` class with 10 neurons, `activation='relu'`, `input_shape=[12]`, and `kernel_regularizer=regularizer`, and save it into a variable called `layer1`

In [35]:
layer1 = layers.Dense(10, activation='relu', input_shape=[12], kernel_regularizer=regularizer)

15.- Instantantiate a second `layers.Dense()` class with 1 neuron and save it into a variable called final_layer:

In [36]:
final_layer = layers.Dense(1)

16.- Add the two layers you just defined to the model using `.add()` and add a layer in between each of them with `layers.Dropout(0.25)`

In [37]:
model.add(layer1)
model.add(layers.Dropout(0.25))
model.add(final_layer)

17.- Instantantiate a `tf.keras.optimizers.SGD()` class with 0.001 as the learning rate and save it into a variable called `optimizer`

In [38]:
optimizer = tf.keras.optimizers.SGD(0.001)

18.- Compile the neural network using `.compile()` with `loss='mse', optimizer=optimizer, metrics=['mse']`

In [39]:
model.compile(loss='mse', optimizer=optimizer, metrics=['mse'])

19.- Print a summary of the model using `.summary()`

Output:

![Figure 6.16](img/fig6_16.jpg)

In [40]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 10)                130
_________________________________________________________________
dropout_1 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 141
Trainable params: 141
Non-trainable params: 0
_________________________________________________________________

20.- Instantiate a `tf.keras.callbacks.EarlyStopping()` class with `monitor='val_loss'` and `patience=2` as the learning rate and save it into a variable called `callback`

In [41]:
callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=2)

We just defined a callback stating the neural network will stop its training if the validation loss (`monitor='val_loss'`) does not improve after 2 epochs (`patience=2`).

21.- Fit the neural networks with the training set and specify `epochs=50, validation_split=0.2, callbacks=[callback]`, and `verbose=2`

Output:

![Figure 6.17](img/fig6_17.jpg)

In [42]:
model.fit(features_train, label_train, epochs=50, validation_split = 0.2, callbacks=[callback], verbose=2)

Epoch 1/50
12/12 - 1s - loss: 571.1296 - mse: 568.0067 - val_loss: 338.4343 - val_mse: 335.2225
Epoch 2/50
12/12 - 0s - loss: 410.1275 - mse: 406.8194 - val_loss: 216.7764 - val_mse: 213.2853
Epoch 3/50
12/12 - 0s - loss: 235.5394 - mse: 231.9388 - val_loss: 126.9440 - val_mse: 123.2248
Epoch 4/50
12/12 - 0s - loss: 160.2160 - mse: 156.4613 - val_loss: 81.2216 - val_mse: 77.4535
Epoch 5/50
12/12 - 0s - loss: 129.6024 - mse: 125.8412 - val_loss: 55.9108 - val_mse: 52.1510
Epoch 6/50
12/12 - 0s - loss: 111.4270 - mse: 107.6428 - val_loss: 42.9888 - val_mse: 39.2001
Epoch 7/50
12/12 - 0s - loss: 96.9381 - mse: 93.1495 - val_loss: 34.7279 - val_mse: 30.9555
Epoch 8/50
12/12 - 0s - loss: 92.6876 - mse: 88.9126 - val_loss: 28.5962 - val_mse: 24.7859
Epoch 9/50
12/12 - 0s - loss: 86.4049 - mse: 82.6083 - val_loss: 27.9055 - val_mse: 24.1445
Epoch 10/50
12/12 - 0s - loss: 81.3133 - mse: 77.5302 - val_loss: 24.0589 - val_mse: 20.2649
Epoch 11/50
12/12 - 0s - loss: 77.0691 - mse: 73.2858 - val_loss: 23.3455 - val_mse: 19.5978
Epoch 12/50
12/12 - 0s - loss: 76.7060 - mse: 72.9722 - val_loss: 21.8425 - val_mse: 18.1248
Epoch 13/50
12/12 - 0s - loss: 71.9447 - mse: 68.2114 - val_loss: 20.6337 - val_mse: 16.9152
Epoch 14/50
12/12 - 0s - loss: 80.3455 - mse: 76.6318 - val_loss: 19.6609 - val_mse: 15.9422
Epoch 15/50
12/12 - 0s - loss: 65.5289 - mse: 61.8246 - val_loss: 20.8469 - val_mse: 17.1950
Epoch 16/50
12/12 - 0s - loss: 67.6266 - mse: 63.9654 - val_loss: 19.2138 - val_mse: 15.5643
Epoch 17/50
12/12 - 0s - loss: 73.2519 - mse: 69.6082 - val_loss: 18.5788 - val_mse: 14.9391
Epoch 18/50
12/12 - 0s - loss: 69.2911 - mse: 65.6558 - val_loss: 17.7812 - val_mse: 14.1407
Epoch 19/50
12/12 - 0s - loss: 65.9820 - mse: 62.3318 - val_loss: 17.6890 - val_mse: 14.0308
Epoch 20/50
12/12 - 0s - loss: 66.1453 - mse: 62.4987 - val_loss: 17.9127 - val_mse: 14.2765
Epoch 21/50
12/12 - 0s - loss: 49.7419 - mse: 46.1141 - val_loss: 18.0262 - val_mse: 14.4088

In the output, we see that the neural network stopped its training after the 22nd epoch. It stopped well before the maximum number of epochs, 50. This is due to the callback we set earlier: if the validation loss does not improve after two epochs, the training should stop.